<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?ifndef KCAPluginVersion?>
  <?error KCAPluginVersion not defined. ?>
  <?endif ?>
  <?ifndef NetIDMgrVersion?>
  <?error NetIDMgrVersion not defined. ?>
  <?endif ?>
  <?ifndef BinDir?>
  <?error BinDir not defined. ?>
  <?endif ?>
  <?ifndef KPKCS11BinDir?>
  <?error KPKCS11BinDir not defined ?>
  <?endif ?>

  <?if $(env.CPU) = "i386"?>
  <?define Platform="x86"?>
  <?define Win64="no"?>
  <?elseif $(env.CPU) = "AMD64"?>
  <?define Platform="x64"?>
  <?define Win64="yes"?>
  <?else ?>
  <?error Unknown build type?>
  <?endif ?>

  <?ifndef MainFeature?>
  <?define MainFeature=Complete ?>
  <?endif?>


  <!-- Platform specific macros -->
  <?if $(var.Platform) = "x64" ?>

  <?define PIProgramFilesFolder="ProgramFiles64Folder"?>

  <?define _kcacreds_en_us_guid="1D2B8050-B025-4345-92DC-986A59D512DD" ?>
  <?define _kcacreds_plugin_guid="76DAB3E0-60FA-4B0D-96C7-8F09CF56114B" ?>
  <?define _kcacreds_debugsyms_guid="D6E516C3-57DE-401D-BD3C-9EA20D837B2F" ?>
  <?define _kpkcs11_plugin_guid="CC7C7C3D-19D3-4E15-A0D6-BE049D6E4280" ?>

  <?elseif $(var.Platform) = "x86" ?>

  <?define PIProgramFilesFolder="ProgramFilesFolder"?>

  <?define _kcacreds_en_us_guid="CCE39889-2BF1-4C61-A93E-F5A442B079BC" ?>
  <?define _kcacreds_plugin_guid="732F5BC6-721D-4E7C-9638-054DC0582313" ?>
  <?define _kcacreds_debugsyms_guid="9E146EED-3F60-458E-B6AA-4E31BFE6E736" ?>
  <?define _kpkcs11_plugin_guid="D3AD1224-09FA-4D50-B60E-F094F39AF498" ?>

  <?endif ?>

  <Fragment>

    <!-- Custom properties for setting a single default mapping of all
         principals in one realm to use obtain KCA certs from another
         realm.

         All the principals that belong to the realm identified by the
         KCAREALMMAPFROM property will default to obtaining KCA certs
         for the realm identified by the KCAREALMMAPTO property.

         E.g.:

           The following will result in all principals from realm
           REALM1.EXAMPLE.COM to obtain KCA certs for realm
           EXAMPLE.COM.

           <Property Id="KCAREALMMAPFROM" Value="REALM1.EXAMPLE.COM" />
           <Property Id="KCAREALMMAPTO"   Value="EXAMPLE.COM" />

         Note that this facility only exists to provide a default
         mapping.  Inidividual users may override the provided default
         with their own settings.

         The properties can be specified at build time, during
         installation, or via a transform.
    -->

    <!--
    <Property Id="KCAREALMMAPFROM" />
    <Property Id="KCAREALMMAPTO" />
    -->

    <DirectoryRef Id="KCAPLUGINDIR" FileSource="$(var.BinDir)">

      <Component Id="_kcacreds_en_us" Win64="$(var.Win64)" Guid="$(var._kcacreds_en_us_guid)" DiskId="1">
        <File Id="file_kcacred_en_us_dll" ShortName="kcacenu.dll" Name="kcacred_en_us.dll" KeyPath="yes" />
      </Component>

      <Component Id="_kcacreds_plugin" Win64="$(var.Win64)" Guid="$(var._kcacreds_plugin_guid)" DiskId="1">
        <File Id="file_kcacred_dll" Name="kcacred.dll" KeyPath="yes" />
        <RegistryKey Id="reg_mod_01" Root="HKLM" Key="SOFTWARE\MIT\NetIDMgr\PluginManager\Modules\KCAMod" Action="createAndRemoveOnUninstall" />
        <RegistryValue Id="reg_mod_02" Root="HKLM" Key="SOFTWARE\MIT\NetIDMgr\PluginManager\Modules\KCAMod" Type="string" Value="" />
        <RegistryValue Id="reg_mod_03" Root="HKLM" Key="SOFTWARE\MIT\NetIDMgr\PluginManager\Modules\KCAMod" Name="ImagePath" Type="string" Value="[#file_kcacred_dll]" />
        <RegistryValue Id="reg_mod_04" Root="HKLM" Key="SOFTWARE\MIT\NetIDMgr\PluginManager\Modules\KCAMod" Name="Description" Type="string" Value="KCA Credentials Provider Module" />
        <RegistryValue Id="reg_mod_05" Root="HKLM" Key="SOFTWARE\MIT\NetIDMgr\PluginManager\Modules\KCAMod" Name="Vendor" Type="string" Value="Secure Endpoints Inc." />
        <RegistryValue Id="reg_mod_06" Root="HKLM" Key="SOFTWARE\MIT\NetIDMgr\PluginManager\Modules\KCAMod" Name="PluginList" Type="string" Value="KCACred" />
        <RegistryKey Id="reg_plg_01" Root="HKLM" Key="SOFTWARE\MIT\NetIDMgr\PluginManager\Plugins\KCACred" Action="createAndRemoveOnUninstall" />
        <RegistryValue Id="reg_plg_02" Root="HKLM" Key="SOFTWARE\MIT\NetIDMgr\PluginManager\Plugins\KCACred" Type="string" Value="" />
        <RegistryValue Id="reg_plg_03" Root="HKLM" Key="SOFTWARE\MIT\NetIDMgr\PluginManager\Plugins\KCACred" Name="Module" Type="string" Value="KCAMod" />
        <RegistryValue Id="reg_plg_04" Root="HKLM" Key="SOFTWARE\MIT\NetIDMgr\PluginManager\Plugins\KCACred" Name="Description" Type="string" Value="AFS Credentials Provider" />
        <RegistryValue Id="reg_plg_05" Root="HKLM" Key="SOFTWARE\MIT\NetIDMgr\PluginManager\Plugins\KCACred" Name="Dependencies" Type="string" Value="Krb5Cred" />
        <RegistryValue Id="reg_plg_06" Root="HKLM" Key="SOFTWARE\MIT\NetIDMgr\PluginManager\Plugins\KCACred" Name="Type" Type="integer" Value="1" />
      </Component>

      <Component Id="_custom_realm_map" Win64="$(var.Win64)" Guid="CC38D11A-C592-40FA-A740-D3C9075C2503">
        <Condition>KCAREALMMAPFROM And KCAREALMMAPTO</Condition>
        <RegistryValue Id="reg_crm_0" Root="HKLM" Key="SOFTWARE\MIT\NetIDMgr\PluginManager\Plugins\KCACred\Realms\[KCAREALMMAPFROM]" KeyPath="yes" Type="string" Value="" />
        <RegistryKey Id="reg_crm_1" Root="HKLM" Key="SOFTWARE\MIT\NetIDMgr\PluginManager\Plugins\KCACred\Realms\[KCAREALMMAPFROM]" Action="createAndRemoveOnUninstall" />
        <RegistryValue Id="reg_crm_2" Root="HKLM" Key="SOFTWARE\MIT\NetIDMgr\PluginManager\Plugins\KCACred\Realms\[KCAREALMMAPFROM]" Name="KCAEnabled" Type="integer" Value="1" />
        <RegistryValue Id="reg_crm_3" Root="HKLM" Key="SOFTWARE\MIT\NetIDMgr\PluginManager\Plugins\KCACred\Realms\[KCAREALMMAPFROM]" Name="KCAHostMethod" Type="integer" Value="2" />
        <RegistryValue Id="reg_crm_4" Root="HKLM" Key="SOFTWARE\MIT\NetIDMgr\PluginManager\Plugins\KCACred\Realms\[KCAREALMMAPFROM]" Name="KCARealm" Type="string" Value="[KCAREALMMAPTO]" />
      </Component>

      <Component Id="_kcacreds_debugsym" Win64="$(var.Win64)" Guid="$(var._kcacreds_debugsyms_guid)" DiskId="1">
        <File Id="file_kcacred_pdb" Name="kcacred.pdb" KeyPath="yes" />
      </Component>
      <Component Id="_kcaplugin_chm" Guid="59E851AA-AE0D-4683-BE91-2A3EBA65535F" DiskId="1">
        <File Id="file_kcaplhlp_chm" ShortName="kcaplgin.chm" Name="kcaplugin.chm" KeyPath="yes" />
      </Component>

      <Component Id="_kpkcs11_plugin" Win64="$(var.Win64)" Guid="$(var._kpkcs11_plugin_guid)" DiskId="1">
        <File Id="file_kpkcs11_dll" Name="kpkcs11.dll" KeyPath="yes" Source="$(var.KPKCS11BinDir)\kpkcs11.dll" />
      </Component>

      <?if $(var.Platform) = "x86" ?>
      <?ifndef NOMODUTIL?>
      <Directory Id="dirModutil" Name="modutil">
        <Component Id="_modutil_exe" Guid="4D89424D-A024-42EB-8B05-995F0FB930F2" DiskId="1">
          <File Id="file_modutil_exe" Name="modutil.exe" KeyPath="yes" Source="$(sys.SOURCEFILEDIR)\nss\modutil.exe" />
        </Component>

        <Component Id="_smime3_dll" Guid="9D86C0CA-3714-4410-823D-581707631486" DiskId="1">
          <File Id="file_smime3_dll" Name="smime3.dll" KeyPath="yes" Source="$(sys.SOURCEFILEDIR)\nss\smime3.dll" />
        </Component>

        <Component Id="_nss3_dll" Guid="E1E68C5A-9004-48D0-A3D4-32C4CD7E5DA1" DiskId="1">
          <File Id="file_nss3_dll" Name="nss3.dll" KeyPath="yes" Source="$(sys.SOURCEFILEDIR)\nss\nss3.dll" />
        </Component>

        <Component Id="_softokn3_dll" Guid="7616DC04-222F-460F-B1F6-C9B8DF6E18ED" DiskId="1">
          <File Id="file_softokn3_dll" Name="softokn3.dll" KeyPath="yes" Source="$(sys.SOURCEFILEDIR)\nss\softokn3.dll" />
        </Component>

        <Component Id="_libplc4_dll" Guid="F6B4253E-5060-4614-95D9-4CA691CF961F" DiskId="1">
          <File Id="file_libplc4_dll" Name="libplc4.dll" KeyPath="yes" Source="$(sys.SOURCEFILEDIR)\nss\libplc4.dll" />
        </Component>

        <Component Id="_libplds4_dll" Guid="2BA830F3-3AC6-4B7D-82E1-C4AA800EBBB6" DiskId="1">
          <File Id="file_libplds4_dll" Name="libplds4.dll" KeyPath="yes" Source="$(sys.SOURCEFILEDIR)\nss\libplds4.dll" />
        </Component>

        <Component Id="_libnspr4_dll" Guid="250CD190-6229-43CD-8457-E45853018B75" DiskId="1">
          <File Id="file_libnspr4_dll" Name="libnspr4.dll" KeyPath="yes" Source="$(sys.SOURCEFILEDIR)\nss\libnspr4.dll" />
        </Component>

        <Component Id="_msvcrt_dll" Guid="6BC0C577-D87B-4D79-87D6-99EE72DEAFEA" DiskId="1">
          <File Id="file_msvcrt_dll" Name="msvcrt.dll" KeyPath="yes" Source="$(sys.SOURCEFILEDIR)\nss\msvcrt.dll" />
        </Component>
      </Directory>
      <?endif ?>
      <?endif ?>
    </DirectoryRef>

    <Feature Id="$(var.MainFeature)" Title="NetIDMgr KCA Provider" Level="1">
      <ComponentRef Id="_kcacreds_plugin" />
      <ComponentRef Id="_kcacreds_en_us" />
      <ComponentRef Id="_kcaplugin_chm" />
      <ComponentRef Id="_custom_realm_map" />
      <Feature Id="DebugSyms" Title="Debug Symbols" Level="100">
        <ComponentRef Id="_kcacreds_debugsym" />
      </Feature>
      <Feature Id="KPKCS11Plugin" Title="PKCS #11 Plugin for Security Certificates" Description="Exposes the Windows certificate store for use by the Mozilla family of products." Level="1">
        <ComponentRef Id="_kpkcs11_plugin" />
        <?if $(var.Platform) = "x86" ?>
        <?ifndef NOMODUTIL?>
        <Feature Id="Modutil" Title="Mozilla Security Module Database Tool" Description="Command-line utility for managing PKCS #1 modules for the Mozilla family of products.  Can be used to install the PKCS #11 Plugin for security certificates." Level="60">
          <ComponentRef Id="_modutil_exe" />
          <ComponentRef Id="_smime3_dll" />
          <ComponentRef Id="_softokn3_dll" />
          <ComponentRef Id="_nss3_dll" />
          <ComponentRef Id="_libplc4_dll" />
          <ComponentRef Id="_libplds4_dll" />
          <ComponentRef Id="_libnspr4_dll" />
          <ComponentRef Id="_msvcrt_dll" />
        </Feature>
        <?endif ?>
        <?endif ?>
      </Feature>
    </Feature>
  </Fragment>
</Wix>
